body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
}

.page-heading {
    text-align: center;
    padding: 20px;

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        color: #203461;
    }

    .tag-line {
        font-size: 20px;
    }

    .action-buttons {
        display: flex;
        justify-content: center;
        margin: 20px 0px;

        .action-btn {
            margin: 10px;
            border-radius: 4px;
            padding: 4px 25px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            border: 1.5px solid #1A73E8;
        }

        .primary-btn {
            background-color: #1A73E8;
            color: #fff;
        }

        .outline-btn {
            color: #1A73E8;
        }

    }
}

.end-of-article {
    padding: 10px 20px;
    border-left: 5px solid #c5532d;
    margin: 20px 0px;

    h3 {
        font-style: italic;
        font-size: 18px;
        color: #c5532d;
        font-weight: 700;
    }

    p {
        margin: 0;
        font-style: italic;
    }
}