.link-card {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    height: 110px;

    .card-inner {

        h2 {
            padding: 0;
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            color: #203461;
            line-height: 1.4rem;
            max-height: 65px;

            a {
                text-decoration: none;
                color: #203461;
            }
        }

        .link-meta {
            padding: 0;
            margin: 0;
            list-style: none;

            font-size: 0.9rem;
            color: #7b7b7b;
            margin-bottom: 10px;

            li {
                padding-right: 10px;
            }

            .tag-list {
                span {
                    padding-right: 5px;
                }
            }

            .read-more {
                padding: 5px 0px;
                font-size: .7rem;
                opacity: .7;

                a {
                    color: #212529;
                }
            }
        }
    }
}